<div class="navbar p-3 bg-light">
  <a href="/articles" class="text-decoration-none"><h4 class="fw-light text-dark fs-5">Wikinimous</h4></a>
  <a href="/articles/new" class="btn btn-primary">New article</a>
</div>
<div class="custom-container mt-5">
  <%= form_with model: @article, class: "form-control" do |f| %>
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :content, class: "form-label mt-2" %>
    <%= f.text_field :content, class: "form-control" %>
    <%= f.submit :publish, class: "btn btn-outline-primary mt-3" %>
  <% end %>
</div>
